{% include "header.html" %}
    <div class="container hero">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">RareLane Consultants</h1>
            </div>
        </div>
    </div>
{% include "navend.html"%}
    <div id = "aboutus">
        <div id = "aboutush">
            <h1>About Us</h1>
        </div>
        <div id = "aboutusp">
            <span>
                This is a discussion of some of the risks faced in the banking industry. 
                It pursues the 2020 annual report published by Bank of America and, using critical financial metrics and risk factors, expounds on the sources of risk, calculation methods, and management strategies the bank operates.
                It also deep dives into operational risk, which many financial institutions experience a hard time assessing and analyzing. 
                A key point to note is the framework assessment with constructed maint6aing the dynamic regulations affecting the banking industry in the United States. 
            </span>
        </div>
    </div>


    <div id="sectionsplit">
        <div id="sectionsplit1">
            <div id = "aboutush">
                <h1>Book your Appointment</h1>
            </div>
            <div class="registerdash">    
                <form id="login" method="POST" action="/booking">    
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div> 
        </div>
        <div id="sectionsplit2">
            <div id = "aboutush">
                <h1>Request Information</h1>
            </div>
            <div id = "aboutusp">
                <span>
                    This is a discussion of some of the risks faced in the banking industry. 
                    It pursues the 2020 annual report published by Bank of America and, using critical financial metrics and risk factors, expounds on the sources of risk, calculation methods, and management strategies the bank operates.
                    It also deep dives into operational risk, which many financial institutions experience a hard time assessing and analyzing. 
                    A key point to note is the framework assessment with constructed maint6aing the dynamic regulations affecting the banking industry in the United States. 
                </span>
            </div>
        </div>
    </div>

    <div id = "aboutus">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1644611389954-aa5def6ccbb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1644611389954-aa5def6ccbb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1644611389954-aa5def6ccbb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="http://interact.dummyprojects.xyz/wp-content/plugins/h5p/h5p-php-library/js/h5p-resizer.js" charset="UTF-8"></script>
{% include "footer.html"%}
